<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">PFE</h1>
  <p class="lead">PFE is student project for final year.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Upload</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="javascript:void (0)">Upload asynchronously</a></li>
          <li><a class="text-muted" href="javascript:void (0)">Scan file</a></li>
          <li><a class="text-muted" href="javascript:void (0)">Validate errors</a></li>
          <li><a class="text-muted" href="javascript:void (0)">Find solutions</a></li>
        </ul>
        <a class="btn btn-lg btn-block btn-outline-primary" routerLink="/upload">Get started</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Files</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="javascript:void (0)">Local storage</a></li>
          <li><a class="text-muted" href="javascript:void (0)">File listing</a></li>
          <li><a class="text-muted" href="javascript:void (0)">Scan listing</a></li>
          <li><a class="text-muted" href="javascript:void (0)">Delete file</a></li>
        </ul>
        <a class="btn btn-lg btn-block btn-primary" routerLink="/files">Get started</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Displays</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="javascript:void (0)">Listing pager</a></li>
          <li><a class="text-muted" href="javascript:void (0)">Add new </a></li>
          <li><a class="text-muted" href="javascript:void (0)">Edit form</a></li>
          <li><a class="text-muted" href="javascript:void (0)">Slice item</a></li>
        </ul>
        <a class="btn btn-lg btn-block btn-warning" routerLink="/displays">Get started</a>
      </div>
    </div>
  </div>
</div>
